* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #023A6B;
    font: 700 14px/120% "Open Sans", sans-serif;
}

li {
    list-style-type: none;
}

.cart-list {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.cart-total {
    margin-bottom: 32px;
}

.checkoutBtn {
    border-radius: 64px;
    border: 2px solid #F73;
    display: flex;
    justify-content: center;
    background: unset;
    cursor: pointer;
    padding: 16px 0;
    width: 100%;

    color: #023A6B;
    font: 700 14px/16px "Open Sans", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.cart-item-name {
    color: #023A6B;
    font: 700 14px/120% "Open Sans", sans-serif;
}

.cart-item-cost {
    color: #F73;
    font: 700 14px/120% "Open Sans", sans-serif;
}

body {
    background: #FEF2E8;
}

.checkout {
    color: #023A6B;
    font: 700 24px/120% Eczar, sans-serif;
    margin-bottom: 16px;
}

.Shopping-Cart-Container {
    display: flex;
    align-items: center;

}

.Shopping-Cart-text {
    color: #023A6B;
    font: 700 16px/1 "Open Sans", sans-serif;
    text-transform: uppercase;
    transition: 0.5s;
    margin-left: 16px;
}

a {
    text-decoration: none;
}

.Shopping-Cart-Container img {
    margin-right: 16px;
}

.d-flex {
    display: flex;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1440px;
    padding: 24px 32px;
    margin: auto;
}

.nav-container {
    background-color: #FFFFFF;
}

.container {
    max-width: 960px;
    margin: 64px auto 0;
}

h1 {
    color: #023A6B;
    font: 700 48px/120% Eczar, sans-serif;
}

h2 {
    font: 700 32px/120% Eczar;
    color: #023A6B;
}

.special-word {
    font: 700 48px/120% Eczar;
    color: #F73;
}

.product-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.price {
    font: 700 16px/120% Eczar;
    color: #FFF;
    padding: 2px 6px;
    border-radius: 16px;
    background: #F73;
    margin-left: 8px;
}

.name-price-container {
    display: flex;
    align-items: start;
    margin-top: 24px;
}

/* Styling for radio buttons */
input[type="radio"], input[type="checkbox"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin-right: 12px;
}

input[type="radio"]:checked {
    background-color: #FF7733;
    border: 4px solid white;
}

input[type="checkbox"]:checked {
    background-color: white;
    border: 8px solid #FFBD5C;
}

input[type="checkbox"]:checked::before {
    content: "";
    display: inline-block;

    width: 12px;
    height: 12px;
    border-radius: 100px;

    background-color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styling for radio button labels */
label {
    cursor: pointer;
    text-transform: uppercase;
}

.cart {
    max-width: 624px;
}

.options-container {
    display: flex;
    max-width: 280px;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    margin: 16px 0;
}

.option-container {
    display: flex;
    align-items: center;
}

.option-container:nth-child(2) {
    margin-left: 16px;
}

.option-container:last-child {
    margin-top: 24px;
}

input[type="checkbox"] {
    border-radius: 8px;
}

.prm-btn {
    border-radius: 64px;
    border: 2px solid #FFBD5C;
    padding: 16px 24px;

    color: #023A6B;
    font: 700 14px/114.286% "Open Sans", sans-serif;
    text-transform: uppercase;
    background: unset;
    cursor: pointer;
    transition: 0.5s;
}

.prm-btn:hover {
    background: #FFBD5C;
}

.buttons-container {
    display: flex;
    align-items: center;
}
.buttons-container img {
    margin-left: 16px;
    cursor: pointer;
}
.Stamp {
    position: absolute;
    right: 40px;
    bottom: 16px;
    animation: rotate 5600ms ease-out infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
}

.img-container {
    position: relative;
}

.header-wrapper {
    max-width: 700px;
}

.container-padding {
    margin-bottom: 64px;
}

.info-button {
    transition: 0.3s;
}

.info-button:hover {
    transform: scale(1.1);
}

.Shopping-Cart-text:hover {
    color: #FF7733;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    margin-top: 4px;
    color: #023A6B;
    font: 700 24px/120% Eczar;
    margin-left: 8px;
    transition: 0.5s;
}

.logo-text:hover {
    color: #FF7733;
}

.unvisible {
    display: none;
}

.Modal {
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
    /*height: 100vw;*/
    bottom: 0;
    height: 100%;
    max-width: 400px;
    background: white;

}

.Modal::-webkit-scrollbar {
    width: 0;
}

.container-small {
    width: 100%;
    padding: 48px 20px 0 40px;
}

.modal-list:first-child::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #F0F0F0;
    margin-bottom: 24px;
}

.modal-list:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #F0F0F0;
    margin-bottom: 16px;
}

.modal-list-item {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    color: #023A6B;
    font: 700 14px/120% "Open Sans";
}

.modal-list {
    margin-top: 16px;
}

.modal-list:first-child{
    margin-top: 0;
}

.modal-commpon-margin {
    margin-top: 32px;
}

.modal-price {
    color: #F73;
    font: 700 14px/120% "Open Sans";
}

.modal-btn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.coffee {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.coffee img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.coffee-info {
    display: flex;
    flex-direction: column;
}

.coffee-price {
    font-weight: bold;
}

.cart {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-container {
    margin-top: 24px;
}

.cart-item-container:first-child {
    margin-top: 0;
}

.shape {
    margin-top: 24px;
    width: 100%;
    border: 2px solid #FFFFFF;
}

.cart-name {
    color: #023A6B;
    font: 700 24px/1.2 Eczar;
    margin-right: 8px;
}

.cart-item input {
    width: 30px;
    text-align: center;
}

.cart-total {
    margin-top: 10px;
    font-weight: bold;
}

.checkout {
    margin-top: 10px;
}

.quantity-wrapper {
    display: flex;
    align-items: center;
}

.quantity-btn {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: #f0f0f0;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

input[type="number"] {
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 16px;
}

.h3 {
    color: #023A6B;
    font: 700 24px/120% Eczar;
}

.cart-item-count {
    color: #FFF;
    text-align: center;
    font: 900 20px/20px Eczar;
    text-transform: uppercase;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.basket-img-container {
    position: relative;
    width: 40px;
}

.cart-img {
    width: 100px;
    height: 100px;
}

.cart-items {
    width: 624px;
}

.cart-item-option-container {
    display: flex;
    width: 60px;
}

.cart-item-option-container img {
    margin-right: 8px;
}

.selected-option {
    display: flex;
}

.selected-option > div {
    margin-right: 24px;
}

.quanity-counter {
    width: 141px;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;

    border-radius: 50px;
    border: 2px solid  #FFBD5C;
    background: #FEF2E8;
}

.cart-button {
    background: unset;
    border: unset;
    cursor: pointer;
}

.cart-price {
    width: fit-content;
}

.cart-name-price {
    display: flex;
    align-items: start;
    margin-bottom: 8px;
}

.cart-price-container li{
    margin-bottom: 16px;
}

.list-shape {
    border-bottom: 2px solid #F0F0F0;
    margin-bottom: 16px;
}

.cart-container {
    display: flex;
    justify-content: space-between;
}

.checkout-container {
    width: 270px;
    padding: 32px 24px 24px;
    border-radius: 16px;
    background: #FFF;
    height: fit-content;
}

.modal-name-price {
    display: flex;
    align-items: center;
}

.modal-price-item {
    color: #FFF;
    font: 700 24px/120% Eczar;
    padding: 2px 6px 0;
    border-radius: 50px;
    background: #F73;
    margin-left: 8px;
}

.modal-btn {
    color: #023A6B;
    text-align: center;
    font: 700 14px/16px "Open Sans";
    text-transform: uppercase;
    border-radius: 64px;
    border: 2px solid #F73;
    padding: 16px 0;
    background: unset;
    cursor: pointer;
}